@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-blob {
    animation: blob 15s infinite alternate ease-in-out;
  }
  .animate-blob-reverse {
    animation: blob-reverse 20s infinite alternate ease-in-out;
  }
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  50% { transform: translate(40px, -60px) scale(1.1); }
  100% { transform: translate(-20px, 30px) scale(0.9); }
}

@keyframes blob-reverse {
  0% { transform: translate(0px, 0px) scale(1); }
  50% { transform: translate(-40px, 60px) scale(1.2); }
  100% { transform: translate(30px, -30px) scale(0.8); }
}
